<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel użytkownika</title>
    <script th:src="@{/js/twconfig.js}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div id="panel" class="grid grid-cols-7 grid-rows-4 min-h-screen overflow-y-auto">
    <nav class="col-start-1 col-span-1 row-start-1 row-span-4 p-4 bg-white shadow-2xl">
        <ul class="list-none space-y-4">
            <li>
                <a href="#" class="block py-2 px-3 hover:shadow-md hover:bg-gray-50 rounded">
                    <a href="#YouAreHere">
                        <div id="Dashboard-button" class="flex items-center space-x-2">
                            <img
                                    src="https://cdn.jsdelivr.net/npm/heroicons@2.0.18/24/outline/home.svg"
                                    class="h-5 w-5"
                                    alt="Home icon"
                            />
                            <span>
                                Dashboard
                            </span>
                        </div>
                    </a>
                </a>
            </li>
            <li>
            <span class="block py-2 px-3 font-semibold ">
              Rozliczenia
            </span>
                <ul class="list-none list-inside pl-4 space-y-3 ">
                    <li>
                        <a href="#" class="py-1 px-3 hover:shadow-md hover:bg-gray-50 rounded">
                            Saldo
                        </a>
                    </li>
                    <li>
                        <a href="#" class="py-1 px-3 hover:shadow-md hover:bg-gray-50 rounded">
                            Faktura
                        </a>
                    </li>
                </ul>
            </li>
            <li>
            <span class="block py-2 px-3 font-semibold">
              Zarządzanie
            </span>
                <ul class="list-none list-inside pl-4 space-y-3">
                    <li>
                        <a href="#" class="py-1 px-3 hover:shadow-md hover:bg-gray-50 rounded">
                            Klienci
                        </a>
                    </li>
                    <li>
                        <a href="#" class="py-1 px-3 hover:shadow-md hover:bg-gray-50  rounded">
                            Pracownicy
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="profile-information" class="mx-auto col-start-2 col-span-6 row-start-1 row-span-1 ">
        <div id="profile-display">
            <div class="float-left flex items-center justify-center bg-white py-3 px-10 text-center rounded-br-lg rounded-bl-lg shadow-xl">
                <img th:src="${picture}" class="bg-gray-800 rounded font-bold font-sans text-zinc-900 dark:text-zinc-900 w-16 h-16 " alt="Zdjęcie Profilu"/>
                <span class="ml-2 px-2 font-bold font-sans text-zinc-900 dark:text-zinc-900" th:text="${name}">Elonus-Maskus</span>
            </div>
        </div>
    </div>

    <div id="main-information-panel" class="col-start-2 col-span-6 row-start-2 row-span-2 p-4">
        <div class="text-center flex">
            <div class="flex-auto">
                <div class="py-3 px-3 mr-1  text-center border-gray-400 shadow-md text-2xl bg-sky-50 rounded mb-3">
                    <div class="flex-row justify-center items-center">
                        <form id="form" action="/api/v1/financerecord" method="POST">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <div class="p-1">
                                <span>ID: </span>&nbsp;<input class="text-center" value="NA" readonly/>
                            </div>
                            <div class="p-1">
                                <span>Rodzaj: </span>
                                <select name="financeType">
                                    <option value="REVENUE" th:selected="${T(pl.pcdevs.systemfinansowy.model.FinanceType).REVENUE}">Przychód</option>
                                    <option value="EXPENSE" th:selected="${T(pl.pcdevs.systemfinansowy.model.FinanceType).EXPENSE}">Wydatek</option>
                                </select>
                            </div>
                            <div class="p-1">
                                <span>Kwota: </span><input class="text-center" name="money" placeholder="zł "/>
                            </div>
                            <div class="p-1">
                                <span>Tytuł: </span><input class="text-center" name="name" placeholder="Nazwa"/>
                            </div>
                            <div class="p-1">
                                <span>Opis: </span><input class="text-center" name="description" placeholder="opis"/>
                            </div>
                            <div class="mt-1">
                                <a href="/saldo" class="bg-red-500 rounded-full p-2">Anuluj</a>
                                <input type="button" onclick="formSubmit();" class="bg-yellow-300 rounded-full p-2" value="Zatwierdź zmiany">
                            </div>
                        </form>
                        <script>
                            // Corrected formSubmit function
                            function formSubmit() {
                                if (window.confirm("Zapisać rekord?")) {
                                    const form = document.getElementById('form');
                                    form.submit();
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer" class="col-start-2 col-span-6 row-start-4 row-span-1 p-4">
        <form th:action="@{/logout}" method="post" class="absolute bottom-0 right-4 px-5 py-2 bg-white hover:bg-gray-100 font-semibold rounded-t-lg shadow-[0_-20px_25px_-5px_rgba(0,0,0,0.1),0_-10px_10px_-5px_rgba(0,0,0,0.04)]">
            <button type="submit">Wyloguj się</button>
        </form>
    </div>
</div>




</body>
</html>
