<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj się</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen relative">

<!-- Panel logowania -->
<div class="bg-white shadow-2xl rounded-2xl p-10 w-full max-w-md">
    <h1 class="text-2xl font-bold mb-6 text-center">Zaloguj się do Systemu Finansowego</h1>

    <div class="flex flex-col gap-4">
        <a href="/oauth2/authorization/google"
           class="flex items-center justify-center gap-2 bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-xl shadow-md transition">
            <svg class="w-5 h-5" viewBox="0 0 488 512" xmlns="http://www.w3.org/2000/svg">
                <path fill="white"
                      d="M488 261.8C488 403.3 391.1 504 247.5 504 110.8 504 8 401.2 8 264.5S110.8 25 247.5 25c66.5 0 122.7 24.2 165 64l-66.9 64c-18.4-17.7-50.8-38-98.1-38-83.1 0-150.5 68-150.5 151s67.4 151 150.5 151c96.2 0 132.4-69 138-104H247.5v-83.3h240.1c2.1 12.3 3.4 24.9 3.4 41.1z"/>
            </svg>
            Zaloguj się przez Google
        </a>
    </div>
</div>



</body>
</html>
